body {
    background-color: rgb(219, 194, 240);
}
header {
    font-size: x-large;
    text-align: center;
    background-color: deepskyblue;
    margin: 0;
}

.weather-section{
    display: flex;
}
.weather{
    margin-left: 35px;
    justify-content: center;
}
.weatherForecast{
    margin: 10px;
    border: 2px solid red;
    background-color: aquamarine;
    padding: 5px;
    height: 200px;
    width: 150px;
    justify-content: center;
}
#forecast {
    display: flex;
}
.text-center {
    display: flex;
    justify-content: center;
}

#forecast td {
    display: flex;
    
}
#history-output{
    display: flex;
    flex-direction: column;
    padding: 5px;
   justify-content: space-between;
   gap: 10px;
}